.searching-container {
    margin-top: 12px;
    position: relative;
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 012px;
}

.search-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 06px;
}

.search-section input {
    width: 100%;
    height: 40px;
    color: white;
    border: 0.1px solid white;
    border-radius: 10px;
    background-color: transparent;
    padding: 0 12px;
}
.search-section input:hover {
    border: 0.1px solid teal;
}

.search-section button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    background-color: white;
    color: black;
    font-size: 22px;
    border-radius: 10px;
}

.search-section button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.61);
}

.search-section .random {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    font-size: 30px;
}

.random::after {
    content: "Random";
    width: 40%;
    height: 10px;
    font-size: 14px;
    opacity: 0;
    position: relative;
    top: 20px;
    left: -50%;
    transform: translate(-50%, -50%);
    color: white;
    transition: all 0.2s ease;
}

.random:hover::after {
    opacity: 1;
    top: -30px;
}

.groupeEmojis {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.groupeEmojis .emoji,
.emojiData .emoji {
    font-size: 48px;
}

.groupeEmojis .emoji {
    border: 0.1px double white;
    cursor: grab;
}

.emojiData {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    gap: 4px;
    border: 0.2px double white;
    border-radius: 10px;
    padding: 4px;
}

.emojiName {
    max-width: 100%;
    max-height: 60%;
    display: flex;
    align-items: center;
    justify-items: center;
    text-overflow: ellipsis;
}