.footer-container{
    position: relative;
    width: 100vw;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 128, 128, 0.252)
}